<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fashion page</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="header">
        <div style="display: flex;">
            <img class="logo" src="../../Images/logo.jpg.png" alt="logo">
            <form>
                <select>
                    <label for="categories">fashion</label>
                   <a href="#ladies.html"><option>Ladies</option></a>
                    <a href="#men.html"><option>Men</option></a>
                   <a href="#kids.html"><option>Kids</option</a>
               </select> 
               </form>
            <div class="topnav">
                <ul>
                <a  href="home.html"><li>Home </li></a>
                <a href="fashion.html"><li>Fashion </li></a>
                <a href="healthcare.html"><li>Healthcare</li></a>
                </ul>
            </div>
            <div class="search">
                <form>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="search search-holder" id="input" placeholder="search product, brand and categories">
                    <button id="btn">search</button>
                </form>

                <h1>Fashion</h1>
            </div>
        </div>
        <div class="cat">
            <h2>Categories</h2>
            <nav class="nav">
                <ul>
                    <a href="ladies.html">
                        <li>Ladies</li>
                    </a>
                    <a href="men.html">
                        <li>Men</li>
                    </a>
                    <a href="kids.html">
                        <li>Kids</li>
                    </a>
                </ul>
            </nav>
        </div>
    </header>
    <hr>
    <div class="container">
        <div class="img">
            <h3>Night wares</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image"
                src="../../Images/ladie.JPEG.jpg" alt="longdress">
            <p>Ladies short Elegant night dress darkblue </p>
            <div class="cart">
                <p id="price">UGX 40,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Short dress</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image"
                src="../../Images/flowered.JPEG.jpg" alt="shortdress">
            <p>Ladies elgant short round dress maroon color</p>
            <div class="cart">
                <p id="price">UGX 25,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Ladies jewellery</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image"
                src="../../Images/Neckless.JPEG.jpg" alt="pants">
            <p>Ladies jewellery rings,neckless,ear pins</p>
            <div class="cart">
                <p id="price">UGX 20,000-50,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <hr>
        <div class="img">
            <h3>Cross bag</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image"
                src="../../Images/crossbag.pJPEG.jpg" alt="small bags">
            <p>Small shoulder bag pink in color</p>
            <div class="cart">
                <p id="price">UGX 20,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Ladies Ring</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image" class="image"
                src="../../Images/Ring.JPEG.jpg" alt="cross bags">
            <p>Diamond ring with a diamond stone</p>
            <div class="cart">
                <p id="price">UGX 25,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Hand bag</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image"
                src="../../Images/Handbag.JPEG.jpg" alt="handbag">
            <p>Lady handbag 3 in 1 multiple colors</p>
            <div class="cart">
                <p id="price">UGX 50,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>High heels</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image" src="../../Images/heel.JPEG.jpg"
                alt="high heels">
            <p> Pionted heel</p>
            <div class="cart">
                <p id="price"> UGX 80,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Sneakers</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image"
                src="../../Images/sneaker.JPEG.jpg" alt="sneakers">
            <p>Ladies running shoes</p>
            <div class="cart">
                <p id="price">UGX 65,000-75,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Bracelet</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image"
                src="../../Images/bracelet.JPEG.jpg" alt="bracelet">
            <p>Ladies bracelet siliver </p>
            <div class="cart">
                <p id="price">UGX 35000-41,000,</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
    </div>

    <section class="footer-section">
        <footer class="footer">
            <h4>contact us</4>
                <p id="p">find us on facebook@onlineduuka,
                    duukaonline on watup,
                    duuka12 on twiter
                </p>
                <div class="cont">
                    <img src="../../Images/facebook.jpg" alt="logo for facebook">
                    <img src="../../Images/twiter.jpg" alt="logo for twiter">
                    <img src="../../Images/wat.jpg" alt="logo for watup">
                </div>
        </footer>
    </section>

    <script src="../../scripts/fashion.js"></script>

</body>

</html>