<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fashion page</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="header">
        <div style="display: flex;">
            <img class="logo" src="../../Images/logo.jpg.png" alt="logo">
            <div class="search">
                <form>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="search search-holder" id="input" placeholder="search product, brand and categories">
                    <button id="btn">search</button>
                </form>
    
                <h1>Fashion</h1>
            </div>
        </div>
      
        <div class="cat">
            <h2>Categories</h2>
            <nav class="nav">
                <ul>
                    <a href="ladies.html">
                        <li>Ladies</li>
                    </a>
                    <a href="men.html">
                        <li>Men</li>
                    </a>
                    <a href="kids.html">
                        <li>Kids</li>
                    </a>
                </ul>
            </nav>
        </div>
        <h2 class="men">Men's fashion</h2>
    </header>
    <hr>
    <div id='container' class="container">

        <div class="img">
            <h3>Night wears</h3>
            <img class="image" src="../../Images/men.JPEG.jpg" alt="Nightwear">
            <p>Men red flowered night gown </p>
            <div class="cart">
                <p id="price">UGX 40,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Men Tshirt</h3>
            <img class="image" src="../../Images/men's Tshirt.JPEG.jpg" alt="shortdress">
            <p>Men'tshirt different colors</p>
            <div class="cart">
                <p id="price">UGX 25,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Men's watch</h3>
            <img class="image" src="../../Images/Watch.JPEG.jpg" alt="jewellery">
            <p>Men's smart watch</p>
            <div class='cart'>
                <p id="price">UGX 100,000-150,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Men's under wear</h3>
            <img class="image" src="../../Images/boxer.JPEG.jpg" alt="small bags">
            <p>Men's pack 3 pieces multi-color</p>
            <div class="cart">
                <p id="price">UGX 20,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Caps</h3>
            <img class="image" src="../../Images/caps.jpg" alt="caps">
            <p>Caps 5 in set different colors </p>
            <div class="cart">
                <p id="price">UGX 25,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Sports wears</h3>
            <img class="image" src="../../Images/sports.jpg" alt="sports">
            <p>Sports wear a Jumper and Trouser</p>
            <div class="cart">
                <p id="price">UGX 50,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Gental shoes</h3>
            <img class="image" src="../../Images/gental shoes.jpg " alt="men shoes">
            <p>Casual shoes</p>
            <div class="cart">
                <p id="price">UGX 55,000-80,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Sneakers</h3>
            <img class="image" src="../../Images/men'shoe.JPEG.jpg" alt="sneakers">
            <p> Men red seankers </p>
            <div class="cart">
                <p id="price">UGX 65,000-75,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Suit</h3>
            <img class="image" src="../../Images/men's suit.jpg" alt="wages">
            <p>Men's Elegant suite for office and parties</p>
            <div class="cart">
                <p id="price">UGX 350,000-45,0000,</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
    </div>
</body>

</html>