<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fashion page</title>
    <link rel="stylesheet" href="/UI/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="header">
        <div style="display: flex;">
        <img class="logo" src="/UI/Images/logo.jpg.png" alt="logo">
        <div class="search">
            <form>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="search" id="input" placeholder="search product, brand and categories">
                <button id="btn">search</button>
            </form>
            <h1>Fashion</h1>
        </div>
        </div>
        <div class="cat">
            <h2>Categories</h2>
            <nav class="nav">
                <ul>
                    <a href="ladies.html">
                        <li>Ladies</li>
                    </a>
                    <a href="men.html">
                        <li>Men</li>
                    </a>
                    <a href="kids.html">
                        <li>Kids</li>
                    </a>
                </ul>
            </nav>
        </div>
        <h2 class="men">Kids fashion</h2>
    </header>
    <hr>
    <div class="container">

        <div class="img">
            <h3>Night wears</h3>
            <img class="image" src="/UI/Images/kids night.JPEG.jpg" alt="longdress">
            <p>Kid night wear pijama flowered</p>
            <div class="cart">
                <p id="price">UGX 30,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Girls dress</h3>
            <img class="image" class="image" src="/UI/Images/Red.JPEG.jpg" alt="shortdress">
            <p>Kids dress red color</p>
            <div class="cart">
                <p>UGX 25,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Sweater for boys and girls</h3>
            <img class="image" src="/UI/Images/girls and boys.jpg" alt="pants">
            <p>Boys and girls sweater white color</p>
            <div class="cart">
                <p id="price">UGX 50,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <hr>

        <div class="img">
            <h3>Under wear for boys</h3>
            <img class="image" src="/UI/Images/kid boxer.jpg" alt="pijama">
            <p>Kid under wear for boys</p>
            <div class="cart">
                <p id="price">UGX 20,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Girls sesupender dress</h3>
            <img class="image" src="/UI/Images/sesupender.jpg" alt="red dress">
            <p>Girls African print sesupender</p>
            <div class="cart">
                <p id="price">UGX 25,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Boys flowered top </h3>
            <img class="image" src="/UI/Images/boys.jpg" alt="handbag">
            <p>Boys flowered top and green short</p>
            <div>
                <p id="price">UGX 50,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Girls shoes</h3>
            <img class="image" src="/UI/Images/Baby shoes.JPEG.jpg" alt="high heels">
            <p>Kid goldenyellow shoe</p>
            <div class="cart">
                <p id="price">UGX 55,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Kid's sneakers</h3>
            <img class="image" src="/UI/Images/kid's sneaker.jpg" alt="sneakers">
            <p>Kid shoes</p>
            <div class="cart">
                <p id="price">UGX 35,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Black dress</h3>
            <img class="image" src="/UI/Images/girlsblack.jpg" alt="black dress">
            <p>Kid black dress with net</p>
            <div class="cart">
                <p id="price">UGX 55,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>

</body>

</html>