<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare page</title>
    <link rel="stylesheet" href="../css/fashion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="header">
        <div id="container">

            <nav class="menu">
                <ul>
                    <li> <img class="logo" src="../Images/logo.jpg.png" alt="logo"></li>
                    <li><a href="fashions.htm">Fashions</a></li>
                    <li><a href="grocery.html">Grocery</a></li>
                    <li><a href="electronics.htm">Electronics</a></li>
                    <li><a href="health.html">Heath Care</a></li>
                </ul>
                <form class="search-form">
                    <input type="text" id="search" placeholder="Search" onchange="openpage()">
                    <button>Search</button>
                </form>
            </nav>
        </div>
        </div>

        <h1>Healthcare</h1>

    </header>
    <hr>
    <div id='container' class="container">

        <div class="img">
            <h3>Face mask</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image" src="../Images/mask.PJEG.jpg"
                alt="face mask">
            <p>protective gears</p>
            <div class="cart">
                <p id="price">UGX 20,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Hand santieser</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image"
                src="../Images/handwash.JPEG.jpg" alt="handwash">
            <p>Hand disinfantant</p>
            <div class="cart">
                <p id="price">UGX 15,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>First aid kit</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image" src="../Images/kit.JPEG.jpg"
                alt="aid">
            <p>Home first aid kit portable</p>
            <div class='cart'>
                <p id="price">UGX 30,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Dental care</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image" src="../Images/oral b.jpg"
                alt="tooth">
            <p>Toothpaste,toothbrush and other </p>
            <div class="cart">
                <p id="price">UGX 25,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Personal hygien</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image"
                src="../Images/showe gel.JEPG.jpg" alt="gel">
            <p>Bathing gels</p>
            <div class="cart">
                <p id="price">UGX 25,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Herbel container</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image" src="../Images/herb.JPEG.jpg"
                alt="herbel">
            <p>Healthy herbel care</p>
            <div class="cart">
                <p id="price">UGX 60,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3> Thermometer</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image"
                src="../Images/Temperture .JPEG.jpg " alt="Temperture">
            <p>Fore head thermometer</p>
            <div class="cart">
                <p id="price">UGX 15,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Hair Trimer</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image"
                src="../Images/men hair .JPEG.jpg" alt="hair">
            <p>Kit for hair triming </p>
            <div class="cart">
                <p id="price">UGX 50,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
        <div class="img">
            <h3>Body Lotion</h3>
            <img onmouseout="hideCart()" onmouseover="changeVisibility()" class="image" src="../Images/dove.jpg"
                alt="lotion">
            <p>Dove norishing body lotion</p>
            <div class="cart">
                <p id="price">UGX 35,000</p>
                <button class="btn">ADD TO CART</button>
            </div>
        </div>
    </div>
    <div class="Footer">
        <div class="Follow-us">
            <h6>FOLLOW US</h6>
            <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>

        <script src="../scripts/fashion.js"></script>

</body>

</html>