html,body{
    background-color: lightblue;
    margin: 0;
    justify-content: center;
}
.header{
    background-color: lightblue;
    margin-top: 5em;

}
#menu-bar{
    position: relative;
    padding-right:30px ;
}
ul {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    list-style-type: none;
    margin: 0;
    padding-right:50px;
    overflow: hidden;
    background-color: lightblue;
    
  }

li{
    float: right;
}

li a {
    display: block;
    font-size: 22px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
  }

  li a:hover {
    background-color: lightskyblue;
  }
.logo{
    width: 90px;
    height: 50px;
    padding-top: 15px;
    padding-left:80px;
}
.search{
    padding-top: 20px;
    justify-content: space-around;
    border: 1px thin grey;
    padding-left: 8em;
}
.fa-search {
    position: relative;
    left: 25px;
}
#input{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    padding-left:20px;

}
#btn{
    background-color: rgb(246, 139, 30);
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    border: none;
    color: white;
}
h1{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 0px;
    padding-right: 5em;
}
h2{
    font-size: 15px;
    color: blue;
    text-align: left;
}
#h{
    text-align: center;
}
.nau ul{
    margin: 20px;
}
.nav li{
padding: 5px;
font-size: 20px;
display:inline-block ;
}
.nav a{
text-decoration: none;
text-emphasis: left;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}
h3{
text-align: center;
}
.men{
padding-left: 80%;
font-size: 30px;
}
.img{
flex:25%;
height:10%;
width:10%;
margin: 5px;
padding: 1em;
box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}
.image{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    width: 250px;
    max-height: 240px;
    
}
p{
    font-size: 20PX;
    text-align: center;
    font-weight: bold;
}
#price{
    font-size: 15px;
    align-items: center;
}
.btn{
    background-color: rgb(246, 139, 30);
    width: 150px;
    height: 50px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 0 auto;
    
}
.cart{
display: flex;
 flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.Footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: black;
  /* text-align: center; */
}

.Follow-us{
    display: flex;
    
}

label{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

h4{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#p{
    text-align: left;
    font-size: 15px;
}
.cont{
    display: block;
}
img{
    width: 50px;
    max-height: auto;
    display: inline-block;
    justify-content: space-around;
    
}
@media screen and (max-width: 992px) {
    .img {
      flex: 33.3%;
    }
}
    @media screen and (max-width: 600px) {
        .container {
          flex-direction: column;
        }
        .img{
            width: 90%
        }
      }