
html{
    height: 100%;
    width: 100%;
    
}

body{
    /* display: grid;
    justify-content: center; */
    background-image: url("../Images/BG-IMAGES/PIC\ 5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans Condensed', sans-serif;
}

ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    
  }

li{
    float: right;
}

li a {
    display: block;
    font-size: 32px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
  }

  li a:hover {
    background-color: lightskyblue;
  }

#heading1{
    /* display: grid;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif; */
    position: absolute;
    left: 40%;
    top: 10%;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

#Signin-area{
    /* min-height: 100%; */
    position: absolute;
    top: 50%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:400px;
    background-color: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow:0 15px 25px rgba(0, 0, 0, 0.5);
    padding:40px;
    border-radius: 10px;
    /* margin-right: 15px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(207,232,220);
    padding: 1em; */
}
#flexbox{
    display: flex;
    justify-content: space-around;  
}

#email-area{
    display: grid;
    background-color: black;
    border: 1px solid rgba(0,0,0,0.151);
    height: 50px
}
#email-area:hover{
    box-shadow: 1px 1px 5px grey;
}
#password-area{
    display: grid;
    background-color: black;
    border: 1px solid rgba(0,0,0,0.151);
    height: 50px;
    
}
#password-area:hover{
    box-shadow: 1px 1px 5px grey;
}


.buffer{
	height: 5rem;
}
.buffer1{
    height: 30px;
}
.buffer2{
    height: 30px;
}
.Signin-btn{
  background-color: whitesmoke;
  border-radius: 20px;
  outline: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  font-family: 'Open Sans Condensed', sans-serif;
  
}
.Signin-btn:hover{
    cursor: pointer;
    background-color:rgb(89, 204, 219);
    color: white;
}

.Signup-btn{
    background-color: whitesmoke;
    border-radius: 20px;
    outline: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-family: 'Open Sans Condensed', sans-serif;
}
.Signup-btn:hover{
    cursor: pointer;
    background-color: rgb(89, 204, 219);
    color: white;

}
.Footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: black;
  /* text-align: center; */
}

.Follow-us{
    display: flex;
    
}

label{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}
