html{
    height: 100%;
}

body{
    /* display: grid;
    justify-content: center; */
    background-image: url("../Images/BG-IMAGES/PIC\ 5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#heading1{
    display: grid;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
#logo{
    
}

#Signin-area{
    /* min-height: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:400px;
    background-color: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow:0 15px 25px rgba(0, 0, 0, 0.5);
    padding:40px;
    border-radius: 10px;
    /* margin-right: 15px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(207,232,220);
    padding: 1em; */
}
#flexbox{
    display: flex;
    justify-content: space-around;  
}

#email-area{
    display: grid;
    background-color: black;
    border: 1px solid rgba(0,0,0,0.151);
    height: 50px
}
#email-area:hover{
    box-shadow: 1px 1px 5px grey;
}
#password-area{
    display: grid;
    background-color: black;
    border: 1px solid rgba(0,0,0,0.151);
    height: 50px;
    
}
#password-area:hover{
    box-shadow: 1px 1px 5px grey;
}


.buffer{
	height: 10rem;
}
.buffer1{
    height: 60px;
}
.buffer2{
    height: 60px;
}
.Signin-btn{
  background-color: black;
  border-radius: 20px;
  outline: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  
}
.Signin-btn:hover{
    cursor: pointer;
    background-color: royalblue;
    color: white;
}

.Signup-btn{
    background-color: black;
    border-radius: 20px;
    outline: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.Signup-btn:hover{
    cursor: pointer;
    background-color: royalblue;
    color: white;

}